---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
 <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/kelppscv.json"
    trigger="hover"
    stroke="bold"
    colors="primary:#ffffff,secondary:#8930e8,tertiary:#198f67"
    style="width:50px;height:50px">
</lord-icon>
</span>
